[submodule "src/util"]
	path = src/util
	url = https://github.com/mojyack/cutil.git
[submodule "submodules/cutil"]
	path = submodules/cutil
	url = https://github.com/mojyack/cutil.git
[submodule "submodules/towl"]
	path = submodules/towl
	url = https://github.com/mojyack/towl.git
